.ammonite/
.DS_Store

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
project/boot/

# Scala-IDE specific
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime
/src/main/g8/project/target/

# VSCode specific
.vscode/

# Metals specific
.metals/
.bsp/
.bloop/
.scala-build/
metals.sbt

# IntelliJ IDEA
.idea*
